<head></head>
<body>

<div class='container'>
	<div class="jumbotron">
	  
	  <br><br>
	  <p>Click the magic button to see the last 30 articles from the New Yorker.</p>
	  <p><a class="btn btn-primary btn-lg" id='mainButton' role="button" style="text-align:right;">Abracadabra!</a></p></center>
	</div>
	<div class='row' id='articles'>
	</div>
</div>
</body>